@charset "UTF-8";

 	navbar-default {
      margin-bottom: 1;
      border-radius: 1;
      background-color: #fdc4f3;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #fdc4f3;
      padding: 25px;
    }
    
   item {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
   }
  
 